<div fxLayout="row wrap" fxLayoutAlign="space-around start">
  <div fxFlex="100">
    <mat-card>
      <mat-card-title>
        Miles Per Year
      </mat-card-title>
      <mat-card-content style="height:400px">
        <app-miles-per-year *appLoadingSpinner="!allActivitiesLoaded(activitiesCount$ | async, activitiesByYear$ | async)"
          [activitiesYearMap]="activitiesByYear$ | async"></app-miles-per-year>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="space-around start" style="margin-top:15px">
  <div fxFlex="100">
    <mat-card>
      <mat-card-title>
        Miles Per Month Year over Year
      </mat-card-title>
      <mat-card-content style="height:400px">
        <app-miles-per-month *appLoadingSpinner="!allActivitiesLoaded(activitiesCount$ | async, activitiesByYear$ | async)"
          [activitiesByYearMonth]="activitiesByYearMonth$ | async"></app-miles-per-month>
      </mat-card-content>
    </mat-card>
  </div>
</div>

