<h2 mat-dialog-title class="mat-h2">
  Add Goal
  <button mat-icon-button style="float: right" (click)="delete()">
    <i class="material-icons">delete_forever</i>
  </button>
</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div fxLayout="row wrap" fxLayoutAlign="start center" >
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <mat-form-field fxFlex="100">
        <mat-select placeholder="Goal Type" formControlName="type">
            <mat-option *ngFor="let type of GOAL_TYPE | keyvalue" [value]="type.key" (onSelectionChange)="changeGoalType(type.value)">
              {{ type.value }}
            </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" >
      <app-timestamp-date-picker placeholder="Start Date" formControlName="startDate" fxFlex="100"></app-timestamp-date-picker>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" >
      <app-timestamp-date-picker placeholder="End Date" formControlName="endDate" fxFlex="100"></app-timestamp-date-picker>
    </div>
    <div [ngSwitch]="formGroup.get('type').value">
      <div *ngSwitchCase="GOAL_TYPE.COUNT_ACTIVITY">

      </div>
      <div *ngSwitchCase="GOAL_TYPE.COUNT_PROPERTY">
        
      </div>
      <div *ngSwitchCase="GOAL_TYPE.SUM_PROPERTY">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <mat-form-field fxFlex="100">
            <mat-select placeholder="Activity Type" formControlName="activityType">
                <mat-option *ngFor="let type of ACTIVITY_TYPES | keyvalue" [value]="type.key" 
                  (onSelectionChange)="getTrackableProperties(type.value)">
                  {{ type.value }}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <mat-form-field fxFlex="100">
            <mat-select placeholder="Property" formControlName="property">
                <mat-option *ngFor="let prop of activityProperties" [value]="prop.property">
                  {{ prop.propertyName }}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" >
      <mat-form-field fxFlex="100">
        <input type="number" matInput placeholder="Value" formControlName="value">
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" >
      <mat-checkbox formControlName="pinned">Pinned</mat-checkbox>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end center">
  <button mat-dialog-close class="padding-top-10px align-right" mat-button color="primary" (click)="save()">Save</button>
  <button mat-dialog-close class="padding-top-10px align-right" mat-button color="primary" (click)="close()">Close</button>
</mat-dialog-actions>