<mat-card-title>Month Goals</mat-card-title>
<mat-card-content>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="goal">
      <div class="mat-h4" fxFlex="15">January</div>
      <div fxFlex="80" >
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div fxFlex="5" style="text-align: right;">
        <span></span>
      </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="goal">
      <div class="mat-h4" fxFlex="15">Febuary</div>
      <div fxFlex="80" >
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
      <div fxFlex="5" style="text-align: right;">
        <span></span>
      </div>
  </div>
</mat-card-content>