table {
    width: 100%;
}

.row:hover {
    cursor: pointer;
    background-color: #eeeeea;
}

.fab-bottom {
    position: fixed;
    right: 35px;
    bottom: 45px;
}

.example-container {
    height: 90vh;
    overflow: auto;
}

table {
    margin-bottom: 15px;
}