<h2 mat-dialog-title class="mat-h2">
  Add Season
  <button mat-icon-button style="float: right" (click)="deleteSeason()">
    <i class="material-icons">delete_forever</i>
  </button>
</h2>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div fxLayout="row wrap" fxLayoutAlign="start center" >
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start start">
      <button mat-raised-button color="primary" (click)="addTrainingBlock()">Add Training Block</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" 
      *ngFor="let trainingBlock of formGroup.controls['trainingBlocks']['controls']; let i = index"
      [formGroup]="trainingBlock">
      <mat-form-field fxFlex="30">
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
      <app-timestamp-date-picker fxFlex="30" placeholder="Start Date" formControlName="startDate"></app-timestamp-date-picker>
      <app-timestamp-date-picker fxFlex="30" placeholder="End Date" formControlName="endDate"></app-timestamp-date-picker>
      <div>
        <button mat-icon-button (click)="deleteTrainingBlock(i)">
          <i class="material-icons">delete_forever</i>
        </button>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end center">
  <button mat-dialog-close class="padding-top-10px align-right" mat-button color="primary" (click)="save()">Save</button>
  <button mat-dialog-close class="padding-top-10px align-right" mat-button color="primary" (click)="close()">Close</button>
</mat-dialog-actions>