<div fxLayout="row wrap" fxLayoutAlign="end end" class="margin-top--10px">
  <app-year-selector [year]="year" (change)="incrementYear($event)"></app-year-selector>
</div>
<mat-card fxLayout="row wrap" fxLayoutAlign="space-between stretch" ngClass.gt-xs="margin-bottom-10px">
  <app-yearly-total [activities]="activities | async" fxFlex.gt-sm="50" fxFlex.sm="50" fxFlex.lt-sm="100"></app-yearly-total>
  <app-run-type-total [activities]="activities | async" fxFlex.gt-sm="25" fxFlex.sm="50" fxFlex.lt-sm="100"></app-run-type-total>
  <app-cross-training-total [activities]="activities | async" fxFlex.gt-sm="25" fxFlex.sm="50" fxFlex.lt-sm="100"></app-cross-training-total>
</mat-card>
<app-year [year]="year" [activities]="activities | async" 
  [activityTypes]="activityTypes"
  (incrementYear)="incrementYear($event)" 
  (daySelected)="daySelected($event)"></app-year>

<button color="primary" mat-fab class="fab-bottom" (click)="addActivity()">
  <i class="material-icons">add</i>
</button>