<div fxLayout="row wrap" fxLayoutAlign="end center" >
  <button mat-icon-button (click)="incrementYear(-1)">
    <i class="material-icons">keyboard_arrow_left</i>
  </button>
  <h2 class="mat-h2">{{ year }}</h2>
  <button mat-icon-button (click)="incrementYear(1)">
    <i class="material-icons">keyboard_arrow_right</i>
  </button>
</div>

<app-year [year]="year" [runs]="runs | async" (incrementYear)="incrementYear($event)"></app-year>

<button color="primary" mat-fab class="fab-bottom" (click)="addActivity()">
  <i class="material-icons">add</i>
</button>