<mat-card fxLayout="row wrap" fxLayoutAlign="space-between stretch">
  <app-yearly-total [activities]="activities | async" fxFlex.gt-sm="50" fxFlex.sm="50" fxFlex.lt-sm="100"></app-yearly-total>
  <app-run-type-total [activities]="activities | async" fxFlex.gt-sm="25" fxFlex.sm="50" fxFlex.lt-sm="100"></app-run-type-total>
  <app-cross-training-total [activities]="activities | async" fxFlex.gt-sm="25" fxFlex.sm="50" fxFlex.lt-sm="100"></app-cross-training-total>
</mat-card>
<div fxLayout="row wrap" fxLayoutAlign="end end" >
  <button mat-icon-button (click)="incrementYear(-1)" fxFlexOffset="50">
    <i class="material-icons">keyboard_arrow_left</i>
  </button>
  <h2 class="mat-h2">{{ year }}</h2>
  <button mat-icon-button (click)="incrementYear(1)">
    <i class="material-icons">keyboard_arrow_right</i>
  </button>
</div>

<app-year [year]="year" [activities]="activities | async" 
  (incrementYear)="incrementYear($event)" 
  (daySelected)="daySelected($event)"></app-year>

<button color="primary" mat-fab class="fab-bottom" (click)="addActivity()">
  <i class="material-icons">add</i>
</button>