<div fxHide.lt-md>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="25">
      <app-month [year]="year" [monthNum]="0" [activities]="janRuns" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="25">
      <app-month [year]="year" [monthNum]="1" [activities]="febRuns" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="25">
      <app-month [year]="year" [monthNum]="2" [activities]="marRuns" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="25">
      <app-month [year]="year" [monthNum]="3" [activities]="aprRuns" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="25">
      <app-month [year]="year" [monthNum]="4" [activities]="mayRuns" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="25">
      <app-month [year]="year" [monthNum]="5" [activities]="junRuns" (selected)="selected($event)"></app-month>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none" class="padding-top-25">
    <mat-card fxFlex="25"><app-month [year]="year" [monthNum]="6" [activities]="julyRuns" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="25"><app-month [year]="year" [monthNum]="7" [activities]="augRuns" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="25"><app-month [year]="year" [monthNum]="8" [activities]="sepRuns" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="25"><app-month [year]="year" [monthNum]="9" [activities]="octRuns" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="25"><app-month [year]="year" [monthNum]="10" [activities]="novRuns" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="25"><app-month [year]="year" [monthNum]="11" [activities]="decRuns" (selected)="selected($event)"></app-month></mat-card>
  </div>
</div>
<div fxHide fxShow.sm>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="50">
      <app-month [year]="year" [monthNum]="0" [activities]="janRuns" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="50">
      <app-month [year]="year" [monthNum]="1" [activities]="febRuns" (selected)="selected($event)"></app-month>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="50">
      <app-month [year]="year" [monthNum]="2" [activities]="marRuns" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="50">
      <app-month [year]="year" [monthNum]="3" [activities]="aprRuns" (selected)="selected($event)"></app-month>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="50">
      <app-month [year]="year" [monthNum]="4" [activities]="mayRuns" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="50">
      <app-month [year]="year" [monthNum]="5" [activities]="junRuns" (selected)="selected($event)"></app-month>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none" class="padding-top-25">
    <mat-card fxFlex="50"><app-month [year]="year" [monthNum]="6" [activities]="julyRuns" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="50"><app-month [year]="year" [monthNum]="7" [activities]="augRuns" (selected)="selected($event)"></app-month></mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="50"><app-month [year]="year" [monthNum]="8" [activities]="sepRuns" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="50"><app-month [year]="year" [monthNum]="9" [activities]="octRuns" (selected)="selected($event)"></app-month></mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="50"><app-month [year]="year" [monthNum]="10" [activities]="novRuns" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="50"><app-month [year]="year" [monthNum]="11" [activities]="decRuns" (selected)="selected($event)"></app-month></mat-card>
  </div>
</div>
<div fxHide fxShow.lt-sm>
  <div fxLayout="row wrap" fxLayoutAlign="end center" class="margin">
    <button mat-icon-button (click)="incrementMonth(-1)">
      <i class="material-icons">keyboard_arrow_left</i>
    </button>
    <h2 class="mat-h2">{{ monthName(mobileMonth) }}</h2>
    <button mat-icon-button (click)="incrementMonth(1)">
      <i class="material-icons">keyboard_arrow_right</i>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="100">
      <app-month [year]="year" [monthNum]="mobileMonth" [activities]="mobileMonthToShow" (selected)="selected($event)"></app-month>
    </mat-card>
  </div>
</div>