<p>
  year works!
</p>
<app-month [year]="year" [monthNum]="0" [runs]="janRuns"></app-month>
<app-month [year]="year" [monthNum]="1"></app-month>
<app-month [year]="year" [monthNum]="2"></app-month>
<app-month [year]="year" [monthNum]="3"></app-month>
<app-month [year]="year" [monthNum]="4"></app-month>
<app-month [year]="year" [monthNum]="5"></app-month>
<app-month [year]="year" [monthNum]="6"></app-month>
<app-month [year]="year" [monthNum]="7"></app-month>
<app-month [year]="year" [monthNum]="8"></app-month>
<app-month [year]="year" [monthNum]="9"></app-month>
<app-month [year]="year" [monthNum]="10"></app-month>
<app-month [year]="year" [monthNum]="11"></app-month>