<div fxHide.lt-md>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="25">
      <app-month [monthNum]="0" [activities]="janRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="25">
      <app-month [monthNum]="1" [activities]="febRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="25">
      <app-month [monthNum]="2" [activities]="marRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="25">
      <app-month [monthNum]="3" [activities]="aprRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="25">
      <app-month [monthNum]="4" [activities]="mayRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="25">
      <app-month [monthNum]="5" [activities]="junRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none" class="padding-top-25">
    <mat-card fxFlex="25"><app-month [monthNum]="6" [activities]="julyRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="25"><app-month [monthNum]="7" [activities]="augRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="25"><app-month [monthNum]="8" [activities]="sepRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="25"><app-month [monthNum]="9" [activities]="octRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="25"><app-month [monthNum]="10" [activities]="novRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="25"><app-month [monthNum]="11" [activities]="decRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month></mat-card>
  </div>
</div>
<div fxHide fxShow.sm>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="50">
      <app-month [monthNum]="0" [activities]="janRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="50">
      <app-month [monthNum]="1" [activities]="febRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="50">
      <app-month [monthNum]="2" [activities]="marRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="50">
      <app-month [monthNum]="3" [activities]="aprRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="50">
      <app-month [monthNum]="4" [activities]="mayRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month>
    </mat-card>
    <mat-card fxFlex="50">
      <app-month [monthNum]="5" [activities]="junRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none" class="padding-top-25">
    <mat-card fxFlex="50"><app-month [monthNum]="6" [activities]="julyRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="50"><app-month [monthNum]="7" [activities]="augRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month></mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="50"><app-month [monthNum]="8" [activities]="sepRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="50"><app-month [monthNum]="9" [activities]="octRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month></mat-card>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="50"><app-month [monthNum]="10" [activities]="novRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month></mat-card>
    <mat-card fxFlex="50"><app-month [monthNum]="11" [activities]="decRuns" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month></mat-card>
  </div>
</div>
<div fxHide fxShow.lt-sm>
  <div fxLayout="row wrap" fxLayoutAlign="end center" class="margin">
    <button mat-icon-button (click)="incrementMonth(-1)">
      <i class="material-icons">keyboard_arrow_left</i>
    </button>
    <h2 class="mat-h2">{{ monthName(mobileMonth) }}</h2>
    <button mat-icon-button (click)="incrementMonth(1)">
      <i class="material-icons">keyboard_arrow_right</i>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between none">
    <mat-card fxFlex="100">
      <app-month [monthNum]="mobileMonth" [activities]="mobileMonthToShow" [activityTypes]="activityTypes" [runTypes]="runTypes" (selected)="selected($event)"></app-month>
    </mat-card>
  </div>
</div>