.app-bar {
    height: 65px;
}

.active {
    font-weight: 500;
}

button.active {
    background-color: rgba(0,0,0,.12);
}

.menu .mat-list-item {
    height: 36px !important;
}

.margin-left-10px {
    margin-left: 10px;
}