<div fxLayout="row wrap" fxLayoutAlign="space-around start">
  <div fxFlex="58">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutAlign="end end" class="margin-top--10px">
          {{ params$ | async | json }}
          <!-- <app-year-selector [year]="(params$ | async).state.params['year']" (change)="changeYear($event)"></app-year-selector> -->
        </div>
        <app-year-goals 
          [goals]="(goals$ | async)[0]"
          [miles]="yearMiles$ | async"
          [crossTraining]="crossTraining$ | async"
          [highEffortRuns]="highEffortRuns$ | async">
        </app-year-goals>
        <app-monthly-goals
          [monthlyGoalMap]="(goals$ | async)[0].months"></app-monthly-goals>
        <div fxLayout="row" fxLayoutAlign="end center" >
          <span class="fill-space"></span>
          <button mat-button color="primary" (click)="addGoal()">Add Goal</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20">
    <div>
      <app-prs 
        [pr5K]="fiveKPR$ | async"
        [pr10K]="tenKPR$ | async"
        [pr15K]="fifteenKPR$ | async"
        [prHalfMarathon]="halfMarathonPR$ | async"
        [prMarathon]="marathonPR$ | async"></app-prs>
    </div>
    <div style="margin-top: 10px;">
      <app-distance 
        [fiftyKs]="fiftyKs$ | async"
        [fiftyMs]="fiftyMs$ | async"
        [hundredKs]="hundredKs$ | async"
        [hundredMs]="hundredMs$ | async"></app-distance>
    </div>
  </div>
  <app-fifty-states [completedStates]="completedStates$ | async" fxFlex="20"></app-fifty-states>
</div>
