<mat-card-title>Year Goals</mat-card-title>
<mat-card-content>
  <app-progress-meter class="goal" [title]="'Miles'" [goal]="goals.miles" [current]="yearMiles" [status]="getStatus(yearMiles, goals.miles)"></app-progress-meter>
  <app-progress-meter class="goal" [title]="'Cross Training'" [goal]="goals.crossTraining" 
    [current]="yearMiles" [status]="getStatus(yearMiles, goals.crossTraining)"></app-progress-meter>
  <app-progress-meter [title]="'High Effort Runs'" [goal]="goals.highEffortRuns" 
    [current]="yearMiles" [status]="getStatus(yearMiles, goals.highEffortRuns)"></app-progress-meter>
</mat-card-content>
