<mat-card-title>Year Goals</mat-card-title>
<mat-card-content>
  <app-progress-meter class="goal" [title]="'Miles'" [goal]="goals.miles" [current]="miles" [status]="getStatus(miles, goals.miles)"></app-progress-meter>
  <app-progress-meter class="goal" [title]="'Cross Training'" [goal]="goals.crossTraining" 
    [current]="crossTraining" [status]="getStatus(crossTraining, goals.crossTraining)"></app-progress-meter>
  <app-progress-meter [title]="'High Effort Runs'" [goal]="goals.highEffortRuns" 
    [current]="highEffortRuns" [status]="getStatus(highEffortRuns, goals.highEffortRuns)"></app-progress-meter>
</mat-card-content>
