<mat-toolbar color="primary" class="app-bar">
    <div fxHide="false" fxHide.gt-sm>
        <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <i class="material-icons">menu</i>
        </button>
    </div>
    <span routerLink="/welcome">Workout Tracker</span>
    <div fxShow="false" fxShow.gt-sm class="margin-left-10px">
        <button mat-button routerLink="/log/2019" routerLinkActive="active">Log</button>
        <button mat-button routerLink="/schedule" routerLinkActive="active">Schedule</button>
        <button mat-button routerLink="/races" routerLinkActive="active">Races</button>
        <button mat-button routerLink="/goals" routerLinkActive="active">Goals</button>
        <button mat-button routerLink="/stats" routerLinkActive="active">Stats</button>
    </div>
    <span class="fill-space"></span>
    <button *ngIf="auth.user$ | async as user; else login" mat-button (click)="auth.signOut()">Sign Out</button>
    <ng-template #login>
        <button mat-button (click)="auth.googleSignin()">Login with Google</button>
    </ng-template>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport="true">
        <div class="menu">
            <mat-nav-list fxHide="false" fxHide.gt-sm>
                <a class="header-item" mat-list-item routerLink="/log" routerLinkActive="active">Log</a>
                <a class="header-item" mat-list-item routerLink="/races" routerLinkActive="active">Races</a>
            </mat-nav-list>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
