mat-card {
    padding: 5px;
}

mat-card:hover {
    cursor: pointer;
    background-color: rgb(199, 200, 201);
}

.display-inline {
    display: inline;
}

.run {
    background-color: rgb(212, 230, 236);
}

.kettlebell {
    background-color: rgb(171, 233, 204);
}