<h2 mat-dialog-title class="mat-h2">
  Add Activity
  <button mat-icon-button style="float: right" (click)="delete()">
    <i class="material-icons">delete_forever</i>
  </button>
</h2>

<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div fxLayout="row wrap" fxLayoutAlign="start center" >
      <mat-form-field fxFlex="100">
        <mat-select placeholder="Activity Type" formControlName="activityType">
          <mat-option *ngFor="let type of activityType" [value]="type.id">
            {{type.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" >
      <app-timestamp-date-picker placeholder="Date" formControlName="date" fxFlex="100"></app-timestamp-date-picker>
    </div>
    <app-add-run *ngIf="formGroup.get('activityType').value === activityTypeEnum.RUN" [run]="activity" [formGroup]="runGroup" [runTypes]="runType"></app-add-run>
    <app-add-kettlebell *ngIf="formGroup.get('activityType').value === activityTypeEnum.KETTLEBELL" [kettlebell]="activity" [formGroup]="kettlebellGroup"></app-add-kettlebell>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end center">
  <button mat-dialog-close class="padding-top-10px align-right" mat-button color="primary" (click)="save()">Save</button>
  <button mat-dialog-close class="padding-top-10px align-right" mat-button color="primary" (click)="close()">Close</button>
</mat-dialog-actions>