<mat-card>
  <mat-card-title style="text-align: center;">Distance Goals</mat-card-title>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="distance">
        <div class="mat-h4" fxFlex="80">50K</div>
        <div fxFlex="20" ><i *ngIf="fiftyKs && fiftyKs.length > 0" class="material-icons">done_outline</i></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="distance">
        <div class="mat-h4" fxFlex="80">50M</div>
        <div fxFlex="20" ><i *ngIf="fiftyMs && fiftyMs.length > 0" class="material-icons">done_outline</i></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="distance">
        <div class="mat-h4" fxFlex="80">100K</div>
        <div fxFlex="20" ><i *ngIf="hundredKs && hundredKs.length > 0" class="material-icons">done_outline</i></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div class="mat-h4" fxFlex="80">100M</div>
        <div fxFlex="20" ><i *ngIf="hundredMs && hundredMs.length > 0" class="material-icons">done_outline</i></div>
    </div>
  </mat-card-content>
</mat-card>
  
  