.bottom {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: block;
}

.float-right {
    float: right;

}

.float-left {
    float: left;
}

app-day {
    width: 100%;
}

::ng-deep .mat-card-header-text {
    width: 100%;
}

.padding-right-35 {
    padding-right: 35px;
}